# System Clock
NET "SYSCLK_P" 	LOC = "B10" 	| IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE | TNM_NET = TNM_SYSCLK;
NET "SYSCLK_N" 	LOC = "A10" 	| IOSTANDARD = LVDS_33 | DIFF_TERM = TRUE;

TIMESPEC TS_SYSCLK = PERIOD "TNM_SYSCLK" 5 ns HIGH 50%;

# FT2232H
NET "usb_d<0>" 	LOC = "E16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<1>" 	LOC = "E15" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<2>" 	LOC = "F16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<3>" 	LOC = "F15" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<4>" 	LOC = "G16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<5>" 	LOC = "H15" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<6>" 	LOC = "H16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_d<7>" 	LOC = "J14" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_rdn" 		LOC = "D16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
#NET "usb_wrn" 		LOC = "C15" 	| IOSTANDARD = LVTTL | SLEW = FAST;
NET "usb_rxfn" 	LOC = "J16" 	| IOSTANDARD = LVTTL | SLEW = FAST;
#NET "usb_txen" 	LOC = "D14" 	| IOSTANDARD = LVTTL | SLEW = FAST;

# GPIO LEDs
NET "led<0>" 		LOC = "D8" 		| IOSTANDARD = LVTTL;
NET "led<1>" 		LOC = "D9" 		| IOSTANDARD = LVTTL;
NET "led<2>" 		LOC = "C10" 	| IOSTANDARD = LVTTL;
NET "led<3>" 		LOC = "A11" 	| IOSTANDARD = LVTTL;